* { 
    margin: 0 0 0px;
}

.Header { 
    background-color: #1f2937;
    padding: 20px; 
}

.Headertop { 
    display: flex;
    justify-content: space-between;
    color: white;

}

.header-logo { 
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;

}

.links  { 
    font-size: 18px;
    color: #e5e7eb;

}

ul { 
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.title  { 
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.titlesub { 
    font-size: 18px;
    color:#e5e7eb; 

}

button {
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 5px;
    border-style: none;
    padding: 4px 10px;
}